extends ../layout

block content
  .row
    .col.col-4
      h1 Reset your password
      section
        include includes/recoverPasswordForm
      p New to LibTuts? <a href="/auth/signup">Create an account</a>.