extends ../layout

block content
  .row
    .col.col-4
      
      h1 Sign in to LibTuts
      section
        include includes/signinForm
      
      p New to LibTuts? <a href="/auth/signup">Create an account</a>.