extends ../layout

block content
  h1
    a(href="/languages") Languages
    = "/"
    = language.name
  p
    = "Projects count: "
    = language.projectsCount
  p
    = "Tutorials count: "
    = language.tutorialsCount
    
  h4 Popular projects:
  include ../projects/includes/grid