form.defaultForm(action="/auth/resend" method="post" name="recoverPassword")
  .field
    //- input(type="email" name="email" placeholder="Email" required)
    input(type="email" name="email" placeholder="Email")
  .field-description Enter your email address and we will send you a link to reset your password.

  .field
    button.btn.btn-action.btn-wide(type="submit") Send password reset email
.sucessRecover.hidden
  p Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
  .buttons
    a.btn.btn-action.btn-wide(href="/auth/signin") Return to sign in

