form.defaultForm(action="/auth/recover" method="post" name="recoverPassword")
  .field
    input(type="email" name="email" placeholder="Email" required)
  .field
    button.btn.btn-action(type="submit") Send password to email
    span.links
      a(href="/auth/signin") Sign in
      = " or "
      a(href="/auth/signup") sign up

