form.defaultForm(action="/auth/recover" method="post" name="recoverPassword")
  .field
    input(type="email" name="email" placeholder="Email" required)
    .field-description Enter your email address and we will send you a link to reset your password.
  .field
    button.btn.btn-action.btn-wide(type="submit") Send password reset email
    

