form.defaultForm(action="/auth/update_password" method="post" name="resetPassword")
  input(type="hidden" name="token" value=verificationToken.token)
  .field
    input(type="password" name="password" placeholder="New password" required  autocomplete="off")
  .field-description Use at least one lowercase letter, one numeral, and seven characters.

  .field
    button.btn.btn-action.btn-wide(type="submit") Update password

.sucessReset.hidden
  p Password changed
  .buttons
    a.btn.btn-action.btn-wide(href="/auth/signin") Return to sign in

