footer
  
  .inner
    .about Libtuts.com helps developers find tutorials about open source libraries and keep track of their updates.
    
    nav.mainMenu
      a(href='/about') About
      a(href='/terms') Terms
      a(href='/privacy') Privacy
      a(href='/security') Security
      a(href='/contact') Contact
      a(href='/help') Help