footer
  
  .inner
    .about &copy; 2016 Libtuts, Inc.
    
    nav.mainMenu
      a(href='/terms') Terms
      a(href='/privacy') Privacy
      a(href='/security') Security
      a(href='/contact') Contact
      a(href='/help') Help

    nav.secondMenu
      a(href='/about') About
      a(href='/blog') Blog