footer
  .about Libtuts.com helps developers find tutorials about open source libraries and keep track of their updates.
  nav
    ul
      li  
        a(href='/') Mainpage
      li
        a(href='/tutorials') Tutorials
      li
        a(href='/platforms') Platforms
      li
        a(href='/languages') Languages
      li
        a(href='/projects') Projects

