footer
  .about LibTuts.com helps developers find new articles и tutorials about open source projects and keep track of their updates.
  nav
    ul
      li  
        a(href='/') Mainpage
      li
        a(href='/platforms') Platforms
      li
        a(href='/languages') Languages
      li
        a(href='/projects') Projects

