footer
  
  .inner
    .about Libtuts.com helps developers find tutorials about open source libraries and keep track of their updates.
    
    nav.mainMenu
      a(href='/about') About
      a(href='/tutorials') Tutorials
      a(href='/platforms') Platforms
      a(href='/languages') Languages
      a(href='/projects') Projects