header.js-Pjax
  .inner
    a.siteName(href="/") Library Tutorials
    nav.mainMenu
      a.item(href='/tutorials') Tutorials
      a.item(href='/projects') Projects
      a.item(href='/platforms') Platforms
      a.item(href='/languages') Languages

    if currentUser
      nav.userMenu
        span.dropdown
          a.item.handle Create
          span.menu.left
            a(href="/tutorial/new") Create Tutorial
            a(href="/project/new") Create Project
        span.dropdown
          a.item.handle(href="/users/" + currentUser.username)= currentUser.username
          span.menu.right
            a(href="/user/" + currentUser.username)= currentUser.username
            a(href="/user/" + currentUser.username + "/tutorials") Your Tutorials
            a(href="/user/" + currentUser.username + "/comments") Your Comments
            a(href="/settings/profile") Settings
            a.js-button-logout(href="#") Sign Out

        
    else
      nav.guestMenu
        span.dropdown
          a.item.handle Sign in
          span.menu.right
            a(href='/auth/signin') Sign in
            a(href='/auth/signup') Sign up
