header.js-Pjax
  .inner
    nav.mainMenu
      +activeLink('/', 'Mainpage')
      +activeLink('/tutorials', 'Tutorials')
      +activeLink('/projects', 'Projects')
      +activeLink('/platforms', 'Platforms')
      +activeLink('/languages', 'Languages')

    if currentUser
      nav.userMenu
        +activeLink(`/users/${currentUser.username}`, currentUser.fullName)
        +activeLink('/tutorial/new', 'Add tutorial')
        +activeLink('/project/new', 'Add project')
        a(href=`/auth/logout`) Logout
    else
      nav.guestMenu
        +activeLink('/auth/signin', 'Sign in')
        +activeLink('/auth/signup', 'Sign up')
