header
  .inner
    nav.mainMenu
      a.root(href='/') Mainpage
      a(href='/tutorials') Tutorials
      a(href='/projects') Projects
      a(href='/platforms') Platforms
      a(href='/languages') Languages
      

    if currentUser
      nav.userMenu
        a(href=`/users/${currentUser.username}`)= currentUser.fullName
        a(href='/tutorial/new') Add tutorial
        a(href='/project/new') Add project
        a(href=`/auth/logout`) Logout
    else
      nav.guestMenu
        a(href='/auth/signin') Sign in
        a(href='/auth/signup') Sign up