//- <meta property=”og:title” content=”Your eye-catching title here” />
//- <meta property=”og:url” content=”http://www.yourdomain.com” />
//- <meta property=”og:type” content=”website” />
//- website
//- article
//- blog
//- author
//- article:published_time - datetime - When the article was first published.
//- article:modified_time - datetime - When the article was last changed.
//- article:expiration_time - datetime - When the article is out of date after.
//- article:author - profile array - Writers of the article.
//- article:section - string - A high-level section name. E.g. Technology
//- article:tag - string array - Tag words associated with this article.

//- profile - Namespace URI: http://ogp.me/ns/profile#

//- profile:first_name - string - A name normally given to an individual by a parent or self-chosen.
//- profile:last_name - string - A name inherited from a family or marriage and by which the individual is commonly known.
//- profile:username - string - A short unique string to identify them.
//- profile:gender - enum(male, female) - Their gender.

//- Use images that are at least 1200 x 630 pixels for the best display on high resolution devices. At the minimum, you should use images that are 600 x 315 pixels to display link page posts with larger images.
//- <meta property=”og:description” content=”Your entertaining and descriptive copy here, if your meta description is good, use it.” />
//- 200 letters

//- <meta property=”og:image” content=”http://www.yourdomain.com/image-name.jpg” />
//- og:site_name

//- <meta name=”twitter:card” content=”summary” />
//- There are 7 options to choose from: summary, photo, video, product, app, gallery, and “large version” summary.

//- <meta name=”twitter:title” content=”Your title here” />
//- Use up to 70 characters.

//- <meta name=”twitter:description” content=”Your 200-character description here” />

//- <meta name=”twitter:url” content=”http://www.yourdomain.com” />

//- <meta name=”twitter:image” content=”http://www.yourdomain.com /image-name.jpg” />