extends ../layout
  
block content
  .row.row-l
    .col.col-7
      section
        //- h2 Newest interesting tutorials for programmers around the world
        include ../tutorials/includes/list
    .col.col-3
      include ../includes/sidebar/about
      include ../includes/sidebar/search

  .row.row-l
    .col
      section
        include ../projects/includes/grid
      section
        include ../languages/includes/grid
      section
        include ../platforms/includes/grid
      