extends ../layout
  
block content
  .row.row-l
    .col.col-7
      section(style="margin-right:40px;height:471px")
        h2 Newest interesting tutorials for programmers around the world
        include ../tutorials/includes/list
    .col.col-3
      include ../includes/sidebar/about
      include ../includes/sidebar/search

  .row.row-l
    .col
      section
        h2 Find tutorials for popular open-source projects
        include ../projects/includes/grid
      section
        h2 We collect tutorials for projects from all popular platforms
        include ../platforms/includes/grid
      section
        h2 Choose your favorite programming language and start learning
        include ../languages/includes/grid