each comment in comments
  .commentItem(id=`comment_${comment._id}`)
    .content!= comment.contentHtml
    .meta
      if comment.creator
        a(href="/users/"+comment.creator.username)= comment.createdBy.fullName
      a(href="/users/kulakowka") kulakowka
      = " · "
      a(href=`#comment_${comment._id}`) 3 hours ago
    
