each comment in comments
  .comment
    .meta
      if comment.creator
        a.createdBy(href="/users/"+comment.creator.username)= comment.createdBy.fullName
    .content!= comment.contentHtml
    //- .content!= comment.content
