extends layout

block content
  h1 Latest tutorials:
  include tutorials/includes/list

  h2 Popular projects:
  include projects/includes/grid
  
  h2 Platforms:
  include platforms/includes/grid
  

  h2 Languages:
  include languages/includes/grid
  

