extends layout

block content
  h1 Latest tutorials:
  include tutorials/includes/list
  br
  hr
  h2 Popular projects:
  include projects/includes/grid
  br
  hr
  h2 Platforms:
  include platforms/includes/grid
  br
  hr
  h2 Languages:
  include languages/includes/grid
  

