doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body
    .layout
      .sidebar.js-Pjax
        block sidebar
          include includes/sidebar/menu
          include includes/sidebar/search
        


        

      .content.js-Pjax
        block content
      footer
        a(href='/') Mainpage
        != " &bull; "
        a(href='/platforms') Platforms
        != " &bull; "
        a(href='/languages') Languages
    script(src="/js/app.js")