doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
  body
    .layout
      .sidebar.js-Pjax
        block sidebar
          include includes/sidebar/menu
          include includes/sidebar/search

      .content.js-Pjax
        block content

      include includes/footer
    script(src="/js/app.js")
    script.
      // remove img with on load error
      (function(){function cb () {this.parentNode.removeChild(this)};for(var i=0,n=document.images,l=n.length;i<l;i++) n[i].onerror = cb}())