.projectItem
  h3
    a(href="/"+project.platform.slug+"/"+project.slug)= project.name
  //- p= project.description
  .meta 
    a(href="/"+project.platform.slug+"/"+project.slug) #{project.tutorialsCount} tutorials
    = " · "
    a(href=`/${project.platform.slug}`)= project.platform.name
    = " · "
    a(href=`/language/${project.language.slug}`)= project.language.name
    
