.commentItem
  margin 2em 0
  position relative
  &:target:after
    content ''
    position absolute
    left -1em
    top 0
    bottom 0
    width 2px
    background pink
  &:target
    > .meta  
      color deeppink
      a
        color deeppink
  > .meta
    font-size 1em
    color grey
    a
      color grey
  > .content
    font-size 1.1em
    line-height 1.3em