.commentItem
  // margin 0
  position relative
  &:target:after
    content ''
    position absolute
    left -1em
    top 0
    bottom 0
    width 2px
    background pink
  &:target
    > .meta  
      color deeppink
      a
        color deeppink
      
  > .meta
    // font-size 1em
    color grey
    a
      color grey
      text-transform lowecase
      &.creator
        font-weight bold
        color #222
    a + a
      margin-left 10px
  > .content
    // font-size 1em
    line-height 1.3em
    *:last-child
      margin-bottom 0