.tutorialsList 
  margin -1.2em 0  
  .tutorialItem
    margin 1.2em 0
    // &:first-child
    //   margin-top 0
    h3
      font-size 1.2em
      font-weight bold
      margin 0 0 0.5em
      a
        color #222

    .meta
      white-space nowrap
      color grey
      font-size 0.9em
      a
        color grey
      a + a
        margin-left 10px

body.production 
  .tutorialsList .tutorialItem
    h3
      a:visited
        color #aaa