.tutorialsList .tutorialItem
  margin 1.2em 0
  h3
    font-size 1.2em
    font-weight normal
    margin 0 0 0.5em
    a
      color #222
      &:visited
        color #aaa
  .meta
    white-space nowrap
    color grey
    font-size 0.9em
    a
      color grey
