extends ../layout

block content
  .row.row-l
    .col.col-5
      section
        h2 Latest tutorials
        include includes/list
    .col.col-5
      section
        h2 Hot tutorials
        include includes/list
  .row.row-l
    .col.col-5
      section
        h2 Latest tutorials
        include includes/list
    .col.col-5
      section
        h2 Hot tutorials
        include includes/list


