form.defaultForm.changePasswordForm(action='/settings' method="post" name="settings")
  .field
    input(type="password" name="oldPassword" placeholder="Old password" required autocomplete="off")
  .field
    input(type="password" name="newPassword" placeholder="New password" required autocomplete="off")
  .field
    input(type="password" name="confirmNewPassword" placeholder="Confirm new password" required autocomplete="off")
  .field.buttons
    button.btn.btn-action(type="submit" name="update") Update password
