form.defaultForm.settingsForm(action='/settings' method="post" name="settings")
  .field
    input(type="text" name="username" placeholder="Username" value=user.username disabled autocomplete="off")
  .field
    input(type="text" name="email" placeholder="Email" value=user.email required autocomplete="off")
  .field
    input(type="password" name="password" placeholder="Password" required autocomplete="off")
  .field.buttons
    button.btn.btn-action(type="submit" name="update") Update account
