section
  nav.leftMenu
    a(href="/settings/profile") Profile
    a(href="/settings/account") Account settings
    a(href="/settings/emails") Emails
    a(href="/settings/notifications") Notification center