form.defaultForm.commentForm(action="/comments" method="post" name="comment")
  input(type="hidden" name="tutorial" value=tutorial._id)
  .field
    textarea(name="content" rows="5" placeholder="Content")
  .field.buttons
    button.btn.btn-action(type="submit" name="publish") Publish
