section.commentItem(id=`comment_${comment._id}`)
  .meta
    a.creator(href="/user/"+comment.creator.username)= comment.creator.username
    = " "  
    a(href=comment.webUrl)= moment(comment.createdAt).fromNow()
    
  .content!= comment.contentHtml
