.commentItem(id=`comment_${comment._id}`)
  .meta
    if comment.creator
      a(href="/users/"+comment.creator.username)= comment.creator.username
    = " · "
    a(href=`#comment_${comment._id}`)= moment(comment.createdAt).fromNow()
    
  .content!= comment.contentHtml
