extends ../layout

block sidebar
  include ../includes/sidebar/search

block content
  .row.row-l
    .col.col-7
      section
        include ../tutorials/includes/list
    .col.col-3
      include ../includes/sidebar/search