.aboutLanguage
  position relative
  padding-left 10em
  margin 2em 0
  h1
    font-size 2em
    margin 0px 0 0.3em
    a
      color #222
  .meta
    color grey
    font-size 1em
    a
      color grey
  img
    width 8em
    display block
    position absolute
    left 0
    top 0