// Default button
.btn
  -webkit-appearance none
  border 0
  padding 0 1.2em
  margin 0
  background grey
  color #222
  border-radius 4px
  line-height 30px
  display inline-block
  cursor pointer
  &:focus
    outline none
    

// Action button
.btn.btn-action
  background blue
  color white
  &:hover 
    background mediumblue  
