footer

  background #fff
  border-top 1px solid #eee
  text-align center
  .inner
    min-height 60px
    line-height 60px
    max-width 1024px
    margin auto
    nav
      font-size 0.9em
      text-transform uppercase
      a
        color #222
        font-weight normal
        display inline-block
      a + a
        margin-left 1.5em
    nav.mainMenu
      float right
    .about
      float left    
      width 40%
      text-align left
      font-size 0.9em
      line-height 20px
      padding 10px 0
      color grey