footer
  .about
    width 300px
    display inline-block
    vertical-align top
    font-size 0.9em
    line-height 1.5em
    color grey
  nav
    width 300px
    display inline-block
    vertical-align top
    ul,
    li
      margin 0
      paddin 0
      