footer
  .about
    width 300px
    display inline-block
    vertical-align top
  nav
    width 300px
    display inline-block
    vertical-align top
    ul,
    li
      margin 0
      paddin 0
      