// Стили для форм в левой части страницы (стандартные формы)
// - Создание поста
// - Добавление проекта

form.projectForm,
form.tutorialForm
  .field + .field
    margin-top 20px
  
  textarea
    resize none
  textarea,
  input
    padding 5px 10px
    width 100%
  input[name="title"]
    font-size 1.5em
  button
    padding 4px 10px
