// Стили для форм в левой части страницы (стандартные формы)
// - Создание поста
// - Добавление проекта

form.defaultForm
  .form-error
    border 1px dashed crimson
    color crimson
    margin 0 0 1em
    border-radius 4px
    padding 10px
    text-align center
    font-size 0.9em
  .field-error
    color crimson
    margin 0.3em 0 1em
    text-align left
    font-size 0.9em
  .field-description
    text-align left
    font-size 0.9em
    line-height 1.4em
    color #222
    margin 0.5em 0 0
  .field-description + .field,
  .field + .field
    margin-top 1.4em
  .field
    text-align left
    > input[type="text"],
    > input[type="email"],
    > input[type="url"],
    > input[type="password"],
    > textarea
      -webkit-appearance none
      border 0
      padding 0 15px
      margin 0
      border-radius 0px
      line-height 40px
      width 100%
      max-width 100%
      display inline-block
      vertical-align middle
      font-weight normal
      font-size 1em
      border 1px solid #eee
      background #fff
      color #222
      &:disabled
        color #aaa
        cursor not-allowed
      &:focus
        outline none
        border 1px solid deepskyblue
      &:required
        // border 1px solid pink
      &:focus:invalid
        border 1px solid crimson
      &:focus:valid 
        border 1px solid deepskyblue
    textarea
      resize none
      line-height 20px
      padding 10px 15px
  .field-with-error
    > input[type="text"],
    > input[type="email"],
    > input[type="url"],
    > input[type="password"],
    > textarea
      border 1px solid crimson

  .field
    .links
      margin-left 2em
      font-size 0.9em  
      text-align left
      color #aaa
      // a,
      // a:visited
      //   color #aaa
  .field.buttons
    .btn + .btn
      margin-left 1.5em
  .field.buttons.center
    text-align center
