.ui-grid-preview
  .col
    background yellow
    outline 1px solid pink

.row + .row
  margin-top 20px
.row
  text-align center
  &:first-child
    // margin-top 3em
  &.row-l
    text-align left
  &.row-r
    text-align right
  .col
    display inline-block
    vertical-align top
    width 100%
    padding 0 10px
    &:first-child
      padding-left 0
    &:last-child
      padding-right 0
  .col-l
    text-align left
  .col-r
    text-align right
  .col-1
    width 10%
  .col-2
    width 20%
  .col-3
    width 30%
  .col-4
    width 40%
  .col-5
    width 50%
  .col-6
    width 60%
  .col-7
    width 70%    
  .col-8
    width 80%
  .col-9
    width 90%
  .col-10
    width 100%