header
  background #fff
  z-index 2
  border-bottom 1px solid #eee
  text-align center
  position relative
  .inner
    min-height 60px
    line-height 60px
    max-width 1024px
    margin auto
    nav
      font-size 1.1em
      // text-transform uppercase
      a.item
        color #222
        font-weight bold
        display inline-block
        padding 0px 20px
        &:first-letter
          text-transform uppercase
      a.item:hover
        text-decoration none
        background deeppink
        color white
        
      a.item.active
        color deeppink
    .siteName
      color #222
      font-size 1.4em
      font-weight bold
      display inline-block
      padding 0px 0px
      margin-right 20px
      float left
      &:hover
        text-decoration none
        color deeppink
    nav.mainMenu
      float left
    nav.userMenu,
    nav.guestMenu
      float right
      