section
  margin 0
  padding 20px 
  box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.2)
  background white
  &:first-child
    margin-top 0
  > h2
    display none
    font-size 1em
    text-transform capitalize
    font-weight bold
    color darkgray //#222 //deeppink
    margin 0
    padding 0

section + section
  margin-top 20px