section
  margin 3em 0
  
  > h2
    font-size 1em
    // text-transform uppercase
    font-weight bold
    color deeppink
    margin 0
    padding 0
    
// .wideSections
.projectsGrid,
.languagesGrid,
.platformsGrid
  margin-right -323px
  .projectItem,
  .languageItem,
  .platformItem
    width: 25%