.aboutProject
  > h1
    font-size 2em
  > .description
    font-size 1.2em
    line-height 1.3em
  dl.meta
    font-size 1em
    color grey
    margin 1em 0 0
    padding 0
    dt
      width 15%
      display inline-block
      vertical-align top
      margin 0.5em 0
      padding 0
    dd
      width 85%
      display inline-block
      vertical-align top
      margin 0.5em 0
      padding 0