.projectsGrid .projectItem
  width 33.33%
  padding-right 5%
  display inline-block
  vertical-align top
  margin 1.2em 0
  h3
    font-size 1.2em
    margin 0px 0 0.5em
    text-transform capitalize
    a
      color #222
  .meta
    color grey
    font-size 0.9em
    a
      color grey
