extends ../layout

block content
  h1 Add project
  p We will automatically add the new projects for the most popular platforms. If you do not find a project in our database, please add it using this form. The project will appear in the database after being moderated.
  
  include includes/form

  