extends ../layout

block content
  h1= user.username
  
  h4 Tutorials contributed by user:
  h4 Tutorials created by user:
  h4 Comments created by user:
  
  //- each tutorial in tutorials
  //-   .tutorial
  //-     h3
  //-       a(href="/tutorial/"+tutorial.id)= tutorial.title