body 
  padding 0px
  margin 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color #222
  background white 

* 
  box-sizing border-box

a 
  color #00B7FF
  text-decoration none
  &:hover
    text-decoration underline

input,
select,
textarea,
button
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
html,body{
  min-height 100%
  height 100%
}
html{
  height 100%
}
.layout
  max-width 1024px
  position relative
  //outline 1px solid yellow
  margin auto
  overflow hidden
  min-height 100%
footer
  background #eee
  position absolute
  right 0px
  bottom 0px
  left 0px
  padding 20px

.layout > .content
  width 700px
  padding-bottom 150px
.sidebar
  position absolute
  right 0px
  top 20px
  width 300px
  
.sidebar nav li + li
  margin-top 5px
  
.sidebar nav li b a 
  color #222

.search
  background #eee
  padding 20px
  
.search h3
  margin 0 0 20px

.search .field + .field 
  margin-top 10px

.search .label
  margin-bottom 5px
  font-size 10px

.search input
  padding 5px 10px
  width 100%

.search button
  padding 4px 10px

.projectsGrid,
.platformsGrid,
.languagesGrid
  .projectItem
    width 50%
    padding-right 5%
    display inline-block
    vertical-align top
    margin 30px 0px
    position relative
    color #222
    &:hover
      text-decoration none
      
    h3
      margin 0px 0 5px
      a
        color #222
        &:hover 
          color #00b7ff
    p
      margin 0px 0 5px
    .meta
      color grey
      font-size 0.9em
      a
        color grey
  a.platformItem,
  a.languageItem
    width 33.3%
    display inline-block
    vertical-align top
    margin 30px 0px
    position relative
    padding-left 50px
    color #222
    &:hover
      text-decoration none
      color #00b7ff
    img
      width 40px
      display block
      position absolute
      left 0
      top 0
    h3
      margin 0px 0 5px
    .projectsCount
      color grey
      font-size 0.9em
      
