nav
  ul
    li
      a(href='/') Mainpage
    li
      a(href='/platforms') Platforms
    li 
      a(href='/languages') Languages
    li
      a(href='/projects') Projects

  if currentUser
    ul
      li
        b
          a(href=`/users/${currentUser.username}`)= currentUser.fullName
      li
        a(href='/tutorial/new') Add tutorial
      li
        a(href='/project/new') Add project
      li
        a(href=`/auth/logout`) Logout
  else
    ul
      li
        a(href='/auth/signin') Sign in
      li
        a(href='/auth/signup') Sign up
br