if search  
  section.search
    h2 Find tutorials
    form(action="/search" name="search")
      .field
        input(name="k" placeholder="Keywords" value=search.k)
      .field
        select(name="l" multiple placeholder="Languages")
          each language in search.l
            option(value=language selected)= language
      .field
        select(name="p" multiple placeholder="Platfroms")
          each platform in search.p
            option(value=platform selected)= platform
      .field
        button.btn.btn-action(type="submit") search