if search  
  section.search
    h2 Find tutorials
    form(action="/search" name="search")
      .field
        input(name="keywords" placeholder="Keywords" value=search.keywords)
      .field
        select(name="languages" multiple placeholder="Languages")
          each language in search.languages
            option(value=language.slug selected=language.selected)= language.name
      .field
        select(name="platforms" multiple placeholder="Platfroms")
          each platform in search.platforms
            option(value=platform.slug selected=platform.selected)= platform.name
      .field
        button.btn.btn-action(type="submit") search