if search  
  section.search(style="min-height: 293px;")
    //- h2 Find tutorials
    form(action="/search" name="search")
      .field
        select(name="keywords[]" multiple placeholder="Keywords")
          if search.keywords
            each keyword in search.keywords
              option(value=keyword selected)= keyword
      .field
        select(name="languages[]" multiple placeholder="Languages")
          if search.languages
            each language in search.languages
              option(value=language selected)= language
      .field
        select(name="projects[]" multiple placeholder="Projects")
          if search.projects
            each project in search.projects
              option(value=project selected)= project
      .field
        button.btn.btn-action.btn-wide(type="submit") Search tutorials