if search  
  section.search
    //- h2 Find tutorials
    form(action="/search" name="search")
      .field
        select(name="keywords[]" multiple placeholder="Keywords")
          if search.keywords
            each keyword in search.keywords
              option(value=keyword selected)= keyword
      .field
        select(name="languages[]" multiple placeholder="Languages")
          if search.languages
            each language in search.languages
              option(value=language selected)= language
      .field
        select(name="platforms[]" multiple placeholder="Platfroms")
          if search.platforms
            each platform in search.platforms
              option(value=platform selected)= platform
      .field
        button.btn.btn-action(type="submit") search